* {
    margin: 0;
    padding: 0;
}

.navbar {

    font-size: large;
    position: sticky;
    padding: 20px;
    text-emphasis-color: rgb(5, 1, 25);
    color: rgb(5, 1, 25);

}

.nav {
    position: sticky;
}

.carousel-inner img {
    margin-top: 5%;
    width: 100%;
    height: 800px !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .carousel-inner img {
        margin: 0;
    }

}


h2 {
    margin: 10px;
    text-align: center;
    color: black;
    font-size: x-large;
    font-weight: 400;

}

/* .ad1 {
    display: -webkit-box;
    height: 375px;
    max-width: 100%;
    -webkit-line-clamp: 4;
    font-size: x-large;
    background-color: beige;
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

.ad1 {

    text-align: justify;
    width: 100%;
    height: 375px;
    padding: 20px 50px;
    font-size: x-large;
    background-color: beige;
    margin-top: 10px;
    overflow: hidden;
    position: relative;

}

/* @media (min-width: 768px) and (max-width: 1024px) {
    .ad1 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
} */

.ad2 {

    margin-top: 10px;
    width: 100%;
    height: 375px;
    background-color: rgba(127, 255, 212, 0.103);

}

.ad2>img {

    height: 375px;
    width: 100%;
    object-fit: fill;
}

.top-picks {

    text-align: center;
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}


.top-picks>img {

    max-width: 100%;
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 300px;
}

/* @media (min-width: 1200px) and (max-width: 1600px) {
    .top-picks>img {
        height: 180px;
        width: 100px;
        object-fit: contain;
        display: block;
    }
} */

.top-brands {
    background-color: rgba(0, 255, 255, 0.199);
    text-align: center;
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 10px;
}


.heading {
    text-align: justify;
    font-size: 50px;
    font-style: italic, bold;
}

.thumbnail {
    text-align: center;
    font-style: bold;
    font-size: 25px;
}

@media (min-width: 1025px) and (max-width: 1600px) {

    .thumbnail {
        font-size: 20px;
    }
}

.thumbnail>img {

    height: 100% !important;
    width: 100% !important;

}

.dropdown-toggle {
    color: white;
}

.active {
    color: white;
}

.bg-light {
    background-color: rgba(128, 128, 128, 0.082);
    font-size: 20pt;
    text-align: center;
    list-style: none;
}

.bg-light li {
    list-style: none;
}